.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS.c-container {
    border-radius: 4px;
    border: 1px solid #d8dde6;
    margin: 10px 0 10px 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}