.THIS.body .spinnerHolder {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
}
.THIS.body .spinnerHolder .spins::after {
    position: absolute;
    content: 'Fetching data from API..';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}